/* Move down content because we have a fixed navbar that is 50px tall */

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  border:0px;
}

h1{
	text-align: center;
}

.navbar{
	background: linear-gradient(#001f5C,#00143D);
	border: 0px;
	box-shadow: none;
}

.jumbotron{
	background:linear-gradient(#990000,#660000);
	color: #ffffff;
}
.ImageBorder
{
    border-width: 100px;
    border-color: Black;
}
.bodytext{
	background:linear-gradient(#FFF0F0,#FFFAFA);
	border:0px;

}
.row{
	background:linear-gradient(#FFF0F0,#FFFAFA);
	border:0px;
}

}
.col-md-4{
	background:linear-gradient(#FFF0F0,#FFFAFA);
	border:0px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  /* Set the fixed height of the footer here */	
  	height: 60px;
	background: linear-gradient(#141414,#2E2D2D);
}
